@import url('https://fonts.googleapis.com/css?family=Poppins');

body, html{
    font-family: 'Poppins';
    margin: 0;
    color: white;
    background-color: #0F0E0E;
}

iframe{
    height: 100vh;
    width: 50vw;
    max-height: 100%;
}


.parent{
    display: flex;
    justify-content: space-between;
}

* {
    -webkit-tap-highlight-color: transparent;
  }
  
 
  

  
  #toggle_checkbox {
    display: none;
  }
  
  label {
    display: block;
    width: 140px;
    height: 60px;
    margin-top: 4rem;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  label:before {
    top: 8px;
    left: 8px;
    width: 54px;
    height: 54px;
    border: 3px solid rgb(255, 213, 26);
  }
  
  label:after {
    top: 0;
    right: 0;
    width: 140px;
    height: 70px;
    border: 3px solid #ffffff;
  }
  
  label:before,
  label:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-sizing: border-box;
    transition: 0.5s ease top, 0.5s ease left, 0.5s ease right, 0.5s ease width,
      0.5s ease height, 0.5s ease border-color;
  }
  
  #toggle_checkbox:checked + label:before {
    top: 0;
    left: 0;
    width: 140px;
    height: 70px;
    border-color: #ffffff;
  }
  
  #toggle_checkbox:checked + label:after {
    top: 8px;
    right: 8px;
    width: 54px;
    height: 54px;
    border-color: rgb(178, 32, 32);
  }


  .inputhehe{
      margin-right: 3rem;
      /* margin-top: 3rem; */
      text-align: center;
      width: 8rem;
      height: 3rem;
  }

  .summarize{
      position: absolute;
      bottom: 10rem;
      margin-right: 4rem;
  }


  .dialog{
      display: none;
      height: 60vh;
      width: 60vw;
      /* background-color: rgb(15, 15, 34); */
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

  }



  .input-sum{
      height: 50vh;
      width: 60vw;
      background-color: rgb(15, 15, 34);
      color: white;
  }



.time {
  width: 30%;
  display: inline;
}

#timer{
    display: none;
}