<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ez reader</title>
</head>
<body>
    <p>ezpz lmnsqz</p>

    <form action="/submit" method="POST" enctype="multipart/form-data">
        <input type="file" name="upload" accept="application/pdf" name="sent_file" id="sent_file" />
        <button type="submit">submit</button>
    </form>
    <h2>hemlo</h2>
</body>
</html>