<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>ez reader</title>
</head>
<script>
    function checkMobile(){
        const isMobile = navigator.userAgentData.mobile;
        if(isMobile){
document.getElementById('parent').style.display = 'none';
document.getElementById('mobileyet').style.display = 'flex';
        }
    }
</script>
<body onload="checkMobile()">
    <div class="parent" id="parent">
        <h1>EZ READER</h1>
        <div style="width: 50vw">
            <p>an accessible pdf reader with dark mode, sticky notes, timer and notes summarizer. Choose file and get started</p></div>

    <form action="/submit" method="POST" enctype="multipart/form-data">
        <input type="file"  accept="application/pdf" name="file" id="file" />
        <button type="submit">submit</button>
    </form>
    <img class="blob" src="../static/blob.svg" alt="">
    <img class="mobile" src="../static/laptop.png" alt="">
    </div>

    <div class="mobileyet" id="mobileyet">
        <p>ez reader is not available on mobiles yet!</p>
    </div>
</body>
</html>