<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/pdf.css">
    <title>Document</title>
</head>
<body onload="checknotes()">
    
   <div class="parent">
       <div class="col col-left" > 
        
            <input type="checkbox" id="toggle_checkbox" onclick="changemode()">
        <label for="toggle_checkbox"></label>
       
            <div class="stickyHolder">
                <div class="sticky">
                    <p class="tooltip">32</p>
                    <span class="tooltiptext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus numquam ullam sunt omnis a asperiores, voluptatum ea facere fugiat unde! Quia esse laboriosam, ipsa at ratione velit tempore aspernatur aut?</span>
               </div>
               <div class="sticky">
                <p class="tooltip">32</p>
                <span class="tooltiptext">Tooltip text</span>
               </div>
               <div class="sticky">
                <p class="tooltip">32</p>
                <span class="tooltiptext">Tooltip text</span>
           </div>
           <div class="sticky">
            <p class="tooltip">32</p>
            <span class="tooltiptext">Tooltip text</span>
       </div>
       <div class="sticky">
        <p class="tooltip">32</p>
        <span class="tooltiptext">Tooltip text</span>
   </div>
   <div class="sticky">
    <p class="tooltip">32</p>
    <span class="tooltiptext">Tooltip text</span>
</div>
<div class="sticky">
    <p class="tooltip">32</p>
    <span class="tooltiptext">Tooltip text</span>
</div>
<div class="sticky">
<p class="tooltip">32</p>
<span class="tooltiptext">Tooltip text</span>
</div>
<div class="sticky">
    <p class="tooltip">32</p>
    <span class="tooltiptext">Tooltip text</span>
</div>
<div class="sticky">
<p class="tooltip">32</p>
<span class="tooltiptext">Tooltip text</span>
</div>
<div class="sticky">
    <p class="tooltip">32</p>
    <span class="tooltiptext">Tooltip text</span>
</div>
<div class="sticky">
<p class="tooltip">32</p>
<span class="tooltiptext">Tooltip text</span>
</div>
<div class="sticky">
    <p class="tooltip">32</p>
    <span class="tooltiptext">Tooltip text</span>
</div>
<div class="sticky">
<p class="tooltip">32</p>
<span class="tooltiptext">Tooltip text</span>
</div>
            </div>
           
           <img class="add-btn" src="../static/add.svg" alt="" height="80rem" style="margin-bottom: 2rem; cursor: pointer;">
       </div>
       <iframe id="pdfframe" src="{{name}}" ></iframe>
       <div class="col">
           
          <div class="timerbtn" onclick="startTimer()">
            <a class="button btnFloat btnBlueGreen">start 30 minutes timer</a>
          </div>

           <div id="timer" data-hours="0" data-minutes="30" data-seconds="0"></div>
           <div style="cursor: pointer" onclick="showAlert()">
            <a class="button btnFloat btnBlueGreen">summarize your notes</a>
          </div>

       </div>

  

   </div>
   <center>

        <div class="sticky-parent">

            <input type="number" class="input-page" />
            <br> <br>
            <textarea rows="20" cols="50" class="input-sticky" placeholder="enter your text here" name="text" id="text" > 
        
            </textarea>

            <br>

            <button class="submit-sticky">Submit</button>
           
       </div>

   </center>
   

   <div class="dialog" id="dialog">
<form action="/summary" method="POST" >
    <textarea rows="20" cols="50" class="input-sum" placeholder="enter your text here" name="text" id="text" > 
     
        </textarea>
        <button type="submit" class="button btnFloat btnBlueGreen">submit</button>
</form>
   </div>
   
   
<script src="../static/pdf.js"></script>
   <script src="../static/timer.js"></script>
</body>
</html>