<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/pdf.css">
    <title>Document</title>
</head>
<body>
    <script src="../static/pdf.js"></script>
   <div class="parent">
       <div>
        
            <input type="checkbox" id="toggle_checkbox" onclick="changemode()">
        <label for="toggle_checkbox"></label>
       
       
           <p>sticky notes</p>
           <p>new note</p>
       </div>
       <iframe id="pdfframe" src="{{name}}" ></iframe>
       <div>
           
          <div class="timerbtn" onclick="startTimer()">
            <a class="button btnFloat btnBlueGreen">start 30 minutes timer</a>
          </div>

           <div id="timer" data-hours="0" data-minutes="30" data-seconds="0"></div>
           <div style="cursor: pointer" onclick="showAlert()">
            <a class="button btnFloat btnBlueGreen">summarize your notes</a>
          </div>
       </div>
   </div>

   <div class="dialog" id="dialog">
<form action="/summary" method="POST" >
    <textarea rows="20" cols="50" class="input-sum" placeholder="enter your text here" name="text" id="text" > 
     
        </textarea>
        <button type="submit" class="button btnFloat btnBlueGreen">submit</button>
</form>
   </div>
   <script src="../static/timer.js"></script>
</body>
</html>